* {
  font-family: 'Verdana', sans-serif;
  box-sizing: border-box;
}

img {
  width: 150px;
  height: 219px;
}

#img {
  float: left;
  display: inline;
  width: 24%;
}

h2 {
  text-align: center;
  position: relative;
  color: #4f718e;
}

p {
  width: 300px;
  height: 219px;
}

#text {
  float: left;
  display: inline;
  width: 24%;
}

#monster-div, #spell-div, #trap-div {
  width: 25%;
  position: relative;
}
